.header{
  display:flex;
  background: rgb(161, 161, 195);
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
img{
  height:70px;
  width:150px;
}
ul{
  display:flex;
  gap:20px;
}
li{
  list-style:none;
  font-size: 20px;
  font-weight: 600;
  cursor:pointer;
}

li:hover{
  text-decoration:underline;
}

input{
  height:30px;
  min-width: 200px;
  margin-left:20px;
  border: 0;
  text-align: center;
}
.search{

  display: flex;
  justify-content: center;
  align-items: center;
}

.s-icon{
  background:white;
  height: 32px;
  padding-right:5px ;
  align-items: center;
  cursor: pointer;
}

.menu-btn{
  font-size:50px;
  padding: 3px;
  display: none;
}

@media(max-width:1100px){
  ul{
    display: none;
  }
  .search{
    display: none;
  }
  .header{
    display:flex;
    background: rgb(161, 161, 195);
    justify-content: space-between;
    align-items: center;
  }
  input{
    height:30px;
    margin-left:20px;
    border: 0;
    min-width: 360px;
  }
  .menu-btn{
    font-size:50px;
    padding: 3px;
    display: block;
  }
}

@media(max-width:700px){
  ul{
    display: none;
  }
  .header{
    display:flex;
    background: rgb(161, 161, 195);
    justify-content: space-between;
    align-items: center;
  }
  input{
    height:30px;
    margin-left:20px;
    border: 0;
    min-width: 60px;
  }
}